@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #0065fc;
    --color-secondary: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", "sans-serif";
    margin: 1rem 2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Header */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
    margin-right: auto;
}

.signup {
    font-weight: bold;
    color: var(--color-primary);
}

.sub-nav {
    display: flex;
}

.signup,
.sub-nav__link {
    margin-left: 1rem;
    padding: 1rem 0;
    border-top: 3px solid transparent;
    transition: all 0.2s ease-in;
}

.signup:hover,
.sub-nav__link:hover {
    border-top-color: var(--color-primary);
    color: var(--color-primary);
}

.sub-nav__link--active {
    color: var(--color-primary);
    border-top-color: var(--color-primary);
}

@media (max-width: 800px) {
    .sub-nav {
        order: 1;
        flex-basis: 100%;
    }

    .sub-nav__link {
        flex-basis: 50%;
        margin: 0;
        text-align: center;
        border-top-color: transparent;
        border-bottom: 3px solid #F2F2F2;
    }

    .sub-nav__link:hover {
        border-top-color: transparent;
        border-bottom: 3px solid var(--color-primary);
    }

    .sub-nav__link--active {
        border-bottom: 3px solid var(--color-primary);
    }
}

/* wrapper */
.wrapper {
    margin: 3rem 0;
}

/* Banner Hero */
.slogan {
    margin-bottom: 1rem;
}

.slogan__title {
    padding-bottom: 0.5rem;
}

/* Search */
.search {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.search__wrap-icon {
    padding: 1rem 1.25rem;
    background-color: var(--color-secondary);
    border-radius: 1rem 0 0 1rem;
}

.search__input {
    padding: 1rem;
    flex-basis: 16rem;
    font-family: "Rarelay", sans-serif;
    border: 2px solid #f2f2f2;
}

.search__input:focus {
    border-color: var(--color-primary);
    outline: none;
}

.search__btn {
    background-color: var(--color-primary);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem 1.5rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.search__btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 0 1rem 1rem 0;
    background-color: #0051C9;
    z-index: -1;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.search__btn:hover::after {
    opacity: 1;
}