/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Import CSS */
@import "./base.css";
@import "./header.css";
@import "./banner.css";
@import "./search.css";
@import "./filter.css";
@import "./search_result.css";
@import "./appartement_list.css";
@import "./city_card.css";
@import "./popular_card.css";

:root {
    --color-primary: #0065fc;
    --color-secondary: #f2f2f2;
    --color-bg-filter: #DEEBFF;
}