.search-result {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.search-result .fa-solid {
    color: var(--color-primary);
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    border: 1px solid var(--color-bg-filter);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

@media (max-width: 420px) {
    .search-result p {
        font-size: 0.8rem;
    }
}